{% extends "myblog.html" %}

{% block title %}
Blog Manager
{% endblock %}	

{% block content %}
	<div class="contentBox">
		<h3 style="float:left;padding-right:550px;">Blog Posts:</h3>
		<br />
			<div style="float:left;border:solid grey;padding:1%;">
				<a class="noExpand" href="{% url blog_blogEntryDefault %}">New Post</a>
			</div>
			<div style="float:left;border:solid grey;padding:1%;">
				<a class="noExpand" href="{% url blog_newCategoryDefault %}">New Category</a>
			</div>
		<br /><br /><br />
		<form action="." method="POST">
			{% csrf_token %}
			{% for field in blog_form %}
				<div class="fieldWrapper" >
					{{ field }}
				</div>
			{% endfor %}
			<input type="submit" value="edit_selected" name="blogManagerSubmit">
			<input type="submit" value="delete_selected" name="blogManagerSubmit">
		</form>
		<form action="." method="POST">
			{% csrf_token %}
			{% for field in category_form %}
				<div class="fieldWrapper" >
					{{ field }}
				</div>
			{% endfor %}
			<input type="submit" value="edit_selected" name="categoryManagerSubmit">
			<input type="submit" value="delete_selected" name="categoryManagerSubmit">
		</form>
	</div>
{% endblock %}	
